.Email-Countdown
  color: (--text);
  text-align: center;
  margin: 10px auto;
  font-family: 'Acme'
  & > span
   font-weight: normal;
  & li
    display: inline-block;
    font-size: 8px;
    list-style-type: none;
    padding: .3em;
    text-transform: uppercase;
    & span
      display: block;
      font-size: 1.5em;