:root, .theme-blue
    --background-body: #303D4F
    --primary-color: #0c6e98;
    --primary-color-text: #FFF;
    --text: #fff;
    --text-opacity: #939393;
    --text-opacity-accent: #0090d5;
    --background-boxs: #273242
    --background-boxs-accent: #1a232f
    --background-boxs-border: #2b3650;
    --background-boxs-text: #a8a8a8;
    --background-boxs-text-hover: #dedede;
			






//app default
#app
	background: var(--background-body)
	min-height: 100vh
	max-width: 100vw
	overflow: hidden;
	color: var(--text)
	font-family: 'Cabin', sans-serif
	& a
		color:var(--text)